.shareFormation {
  display: grid;
  padding: 0 1rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 0.5rem 0 2rem;

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    color: white;
    font-weight: 700;
    outline: 0;
    font-size: 1rem;
    line-height: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }

    &.shareBtn {
      background-color: #338d46;
    }

    &.screenAndDl {
      background-color: #b94b28;
    }
  }

  .copyNotification {
    position: fixed;
    top: 0;
    color: white;
    width: 100vw;
    left: 0;
    min-height: 1rem;
    background-color: #338d46;
    padding: 1rem;
    text-align: center;
    z-index: 5;
  }

  @media screen and (max-width: 960px) and (orientation: landscape) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin: 0.5rem auto 2rem;
    max-width: 560px;
  }
}
