.shareFormation {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .shareBtn {
    background-color: #c9d3de;
    border: 2px solid #657382;
    outline: 0;
    color: #313131;
    font-size: 1rem;
    font-weight: bold;
    line-height: 100%;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  .copyNotification {
    position: absolute;
    top: 2rem;
    color: white;
  }
}
