.header {
  text-align: center;
  color: white;
  padding: 1rem;

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-size: 2.5rem;
    font-family: "Yanone Kaffeesatz", sans-serif;
  }

  h2 {
    font-size: 1.125rem;
    font-family: "Pacifico", cursive;
  }
}
